@use "@/assets/styles/breakpoints" as *;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
  font-family: "Nudla", sans-serif;
  font-weight: 400;
  line-height: 133%;
  color: var(--color-primary-6);
  background-color: var(--black);
  overflow-x: hidden;
}

#__nuxt {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: auto;
  padding-left: var(--containerPadding);
  padding-right: var(--containerPadding);
}

.title {
  font-size: clamp(1.5rem, 1.3rem + 1vw, 2.5rem);
  font-family: "Arkhip", sans-serif;
  text-align: center;
}

.btn-primary {
  background: #e6be64;
  background: linear-gradient(0deg, #856210 0%, #e6be64 100%);
  border: 1px solid #856210;
  box-shadow: 0px 3px 0px 1px #40310e;
  &:active {
    box-shadow: 0px 0px 0px 0px #40310e;
    transform: translateY(3px);
  }
}

.btn-secondary {
  background: #cd7f32;
  background: linear-gradient(0deg, #854a10 0%, #cd7f32 100%);
  border: 1px solid #854a10;
  box-shadow: 0px 3px 0px 1px #40310e;
  &:active {
    box-shadow: 0px 0px 0px 0px #40310e;
    transform: translateY(3px);
  }
}

.btn {
  min-width: clamp(9.375rem, 8.688rem + 3.438vw, 12.812rem);
  padding: clamp(0.5rem, 0.375rem + 0.625vw, 1.125rem) clamp(0.5rem, 0.4rem + 0.5vw, 1rem);
  color: var(--white);
  font-family: "Arkhip", sans-serif;
  font-size: clamp(0.8rem, 0.71rem + 0.45vw, 1.25rem);
  text-shadow: 0.12rem 0.08rem 0.0625rem var(--grey);
  border-radius: 0.4rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition:
    box-shadow ease 0.3s,
    transform ease 0.3s;
  &--pressed {
    transform: translateY(3px);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
  &--blocked {
    pointer-events: none;
    background: linear-gradient(0deg, rgb(83, 83, 83) 0%, rgb(157, 157, 157) 100%);
    border: 1px solid rgb(83, 83, 83);
    box-shadow: 0px 0px 0px 0px #363636;
  }
}

/* ANIMATION */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
